<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>博客</title>
</head>
<body>
<div>
    <p><a href=""></a>XXX的博客</p>
    <a href="">个人主页</a>&nbsp;&nbsp;|&nbsp;&nbsp;我的博客
</div>
    <div>
        <ul>
            <li>
                <a href="">个人主页</a>
            </li>
            <li>
                <a href="">消息中心</a>
            </li>
            <li>
                <a href="">草稿箱</a>
            </li>
            <li>
                <input type="button" onclick=""/>+写新文章
            </li>
        </ul>
    </div>
</body>
</html>