<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <script type="text/javascript" src="/static/js/jquery-1.11.1.js"></script>
    <script>
        function confirm() {
            var userName = $("userName").val();
            var name = $("name").val();
            var password = $("password").val();
            var email = $("emial").val();
            alert("123");
            $.ajax({
                    url:"RegistController.DoRegist",
                    type:"post",
                    dataType:"json",
                    data:{userName:userName,name:name,password:password,emial:emial},
                    success:function (msg) {
                        alert(msg);
                    }
            });
        }
    </script>
</head>
<body>
    <div>
        <form id="formId" method="post">
            用户名：<input name="userName" id="userName" type="text"/><br/>
            昵&nbsp;称：<input name="name" id="name" type="text"/><br/>
            密&nbsp;码：<input name="password" id="password" type="text"/><br/>
            邮&nbsp;箱：<input name="emial" type="text" id="email"/><br/>
            <input type="submit" value="提交" onclick="confirm()"/>
        </form>
    </div>
</body>
</html>