<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
    <script type="text/javascript" src="/static/js/jquery-1.11.1.js"></script>
    <script type="text/javascript">
        function login()
        {
            var name = $("#userName").val()
            var password = $("#password").val()
//            if (name.length == 0) {
//                $("#err .header").html("username is blank");
//               // return false;
//            }
//
//            if (password.length == 0) {
//                $("#err .header").html("password is blank");
//               // return false;
//            }
            $.ajax({
                url:"LoginController.DoLogin",
                type:"post",
                dataType:"json",
                data:{name:name,password:password},
                success:function (result) {
                    alert(result)
                    if (result.length == 0) {
                        window.location.href="/";
                    } else {
                        $("#err .header").html(data);
                        $("#err").show("fast");
                    }
                }
            });
        }

    </script>
</head>
<body>
<form id="user" method="post">
    <div>
        用户名：<input name="userName" type="text" id="userName"/><br/>
        密&nbsp;码：<input name="password" type="text" id="password"/>
    </div>
    <div class="ui error message" id="err">
        <div class="header"></div>
    </div>
    <input type="submit" value="提交"/>
</form>
</body>
</html>