<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>

    <script type="text/javascript" src="../../static/js/jquery-1.11.1.js"></script>
    <script type="text/javascript">
        function login()
        {
            var name = $("#userName").val()
            var password = $("#password").val()
            if (name.length == 0) {
                $("#showMsg").css("display", "block")
                $("#showMsg").html("username is blank");
               return false;
            }
            if (password.length == 0) {
                $("#showMsg").css("display", "block")
                $("#showMsg").html("password is blank");
                return false;
            }
            $.ajax({
                url:"/login",
                type:"post",
                dataType:"json",
              //  data:JSON.stringify({"name":name,"password":password}),
                data:$("#userForm").serialize(),
                success:function (result) {
                    if (result.success == 0) {
                        alert(result.message);
                        window.location.href="/";
                    } else {
                        alert(result.message);
                        $("#showMsg").html(result.message);
                    }
                }
            });
           // $("#userForm").submit();
        }

    </script>
</head>
<body>
<form id="userForm">
    <div>
        用户名：<input name="userName" type="text" id="userName"/><br/>
        密&nbsp;码：<input name="password" type="text" id="password"/>
    </div>
</form>
<input type="button" value="提交" onclick="login()"/>
<span class="msg" id="showMsg" style="color: red"></span>
</body>
</html>